{% extends "../components/layout.html" %}
{% load crispy_forms_tags %} 
{% load static %}
{% block content %}

<link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css"
  />

  <body style="background-image: linear-gradient(to right,#BFF098 , #6FD6FF); " >
<div class="content-section">
    {{ form.media }} 
    <form method="POST" style = "align-items: center;   margin-left:250px;  margin-top:70px; background: smokewhite;" >
        <fieldset >
            <legend class="border-bottom pb-2 mb-4 text-center " >Inventory Add Form</legend>
            {% csrf_token %}
            <div class="form-group">
                {{ form|crispy  }}
            </div>
            <div class="form-group pt-4">
                <button class="btn btn-outline-success btn-light font-weight-bold" type="submit">Submit</button>
            </div>
      </fieldset>
    </form>
</div>

</body>
{% endblock %}