{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{% block title%}IMS{% endblock%}</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css"
    />
    <link href="{% static "vendor/fontawesome-free/css/all.min.css" %}"
    rel="stylesheet" type="text/css">
    <link
      href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
      rel="stylesheet"
    />

    <!-- Custom styles for this template-->
    <link href="{% static "css/sb-admin-2.min.css" %}" rel="stylesheet"/>
    <style>
      #page-top {
        margin-top: -2%;
      }
      #logo {
        width: 90%;
      }
    </style>
    {% block extra_head %}{% endblock %}
  </head>

  <body>
    {% comment %} {% include 'components/navbar.html'%} {% endcomment %}
    <div class="h-25 d-inline-block">
      {% if messages %} {%for message in messages%}
      <div class="alert alert-{{message.tags}} mt-4">
        {% endfor %} {{message}} {% endif %}
      </div>
    </div>
    <body id="page-top">
        <!-- Page Wrapper -->
        <div id="wrapper">
          <!-- Sidebar -->
          {% include "./sideBar.html" %}
          <!-- End of Sidebar -->
      
          <!-- Content Wrapper -->
          <div id="content-wrapper" class="d-flex flex-column">
            <!-- Main Content -->
            <div id="content">
              <!-- Topbar -->
              {% include "./navbar.html" %}
              <!-- End of Topbar -->
      
              <!-- Begin Page Content -->
              {% block content %} {% endblock %} 
              <!-- /.container-fluid -->
            </div>
            <!-- End of Main Content -->
      
            <!-- Footer -->
            {% include "./footer.html" %}
            <!-- End of Footer -->
          </div>
          <!-- End of Content Wrapper -->
        </div>
        <!-- End of Page Wrapper -->
      
        <!-- Scroll to Top Button-->
        <a class="scroll-to-top rounded" href="#page-top">
          <i class="fas fa-angle-up"></i>
        </a>
      
        <!-- Logout Modal-->
        {% include "./logout_modal.html" %} 
    </body>
    
    {% include "../scripts.html" %} 
    <!-- Custom scripts for all pages-->
    <script src="{% static 'js/sb-admin-2.min.js' %}"></script>
    {% block extra_script %} 
    
    {% endblock %}
  </body>
</html>
