<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
    <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Quantity In Stock</th>
            <th>Quantity Sold</th>
            <th>Cost Per Item</th>
            <th>Sales/Revenue</th>
            <th>Stock Date</th>
            <th>Last Sales Date</th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Quantity In Stock</th>
            <th>Quantity Sold</th>
            <th>Cost Per Item</th>
            <th>Sales/Revenue</th>
            <th>Stock Date</th>
            <th>Last Sales Date</th>
        </tr>
    </tfoot>
    <tbody>
        {% for inventory in inventories %}
            <tr style='cursor: pointer; cursor: hand;' onclick="window.location=`{% url 'inventory_update' inventory.id %}`">
              <th scope="row">{{ forloop.counter }}</th>
              <th scope="col">{{ inventory.name }}</th>
              <th scope="col">{{ inventory.quantity_in_stock }}</th>
              <th scope="col">{{ inventory.quantity_sold }}</th>
              <th scope="col">{{ inventory.cost_per_item }}</th>
              <th scope="col">{{ inventory.sales }}</th>
              <th scope="col">{{ inventory.stock_date }}</th>
              <th scope="col">{{ inventory.last_sale_date }}</th>
            </tr>
          {% endfor %}
    </tbody>
</table>