{% extends "../components/layout_account.html" %}
{% load crispy_forms_tags %} 
{% load static %}
{% block content %}

<div class="container" style="margin-top:180px; margin-left:150px">
    <div class="row mt-5">
        <div class="col-md-6 offset-md-3">
            <div class="border bg-white p-3">
                <h3>Logged Out</h3>
                <hr>
                <div class="alert alert-danger">
                    <h4>You Have Been Logged Out</h4>
                </div>
                <a href="{% url 'login' %}">Login Again?</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}